/* Globals */

/* Header */

/* Calculator Body */
.boundary {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    height: 500px;
    width: 400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    background-color: lightseagreen;
    border-radius: 10px; 

    box-shadow: 3px 3px darkgreen;
}

.shell {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 90%;
    height: 90%;

    margin: 10px;
}


/* Display */
.display {
    display: flex;
    flex-direction: column;

    border: 2px solid grey;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;

    font-family: 'Orbitron', 'sans-serif';
    
    flex: 2;
    height: 20%;
}

.num-display {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    flex: 1;

    font-size: 46px;
}

.ops-display {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    align-items: flex-end;
    flex: 1;
    font-size: 20px;
}


/* Buttons */
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    flex: 7;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%
}

.row-1 .btn {
    background-color: lightcyan;
}

.div-btn, .x-btn,
.sub-btn, #add-btn, .eq-btn {
    background-color: darkorange;
}

button {
    flex: 1;
    text-align: center;

    border: none;
    border-radius: 5px;
    margin: 4px;
    box-shadow: 2px 5px grey;
    background-color: lightgrey;

    cursor: pointer;
}

.zero-btn {
    flex: 2.4;
}

.decimal-btn, 
.eq-btn {
    flex: 1;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0px 1px;
}